In [2]:
import pandas as pd

In [6]:
df1=pd.DataFrame({'A': [1,2,3],
                 'B': [20,30,40], 'index': [a,b,c]})
df2=pd.DataFrame({'A': [4,5,6],
                 'B': [70,80,90], 'index': [a,b,c]})
display(df1,df2)

NameError: name 'a' is not defined

In [12]:
df1.join(df2)

   A   B  C   D
a  1  20  4  70
b  2  30  5  80
c  3  40  6  90

In [18]:
df1.join(df2, 
         how='right')

   A   B  C   D
a  1  20  4  70
b  2  30  5  80
c  3  40  6  90