
# Handling missing values in pandas-1

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,0,33.6,0.627,50.0,1
1,1,85,66.0,29,0,26.6,0.351,31.0,0
2,8,183,64.0,0,0,23.3,0.672,32.0,1
3,1,89,66.0,23,94,28.1,0.167,21.0,0
4,0,137,40.0,35,168,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0
764,2,122,70.0,27,0,36.8,0.340,27.0,0
765,5,121,72.0,23,112,26.2,0.245,30.0,0
766,1,126,60.0,0,0,30.1,0.349,47.0,1
767,1,93,70.0,31,0,30.4,0.315,23.0,0

In [4]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,NaN,0,33.6,0.627,NaN,1
1,1,85,66.0,NaN,0,26.6,0.351,NaN,0
2,8,183,64.0,NaN,0,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94,28.1,0.167,21.0,0
4,0,137,40.0,35.0,168,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180,32.9,0.171,63.0,0
764,2,122,70.0,27.0,0,36.8,0.340,27.0,0
765,5,121,72.0,23.0,112,26.2,0.245,30.0,0
766,1,126,60.0,0.0,0,30.1,0.349,47.0,1
767,1,93,70.0,31.0,0,30.4,0.315,23.0,0

In [5]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,NaN,not available,33.6,0.627,NaN,1
1,1,85,66.0,NaN,NaN,26.6,0.351,NaN,0
2,8,183,64.0,NaN,not available,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94,28.1,0.167,21.0,0
4,0,137,40.0,35.0,168,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180,32.9,0.171,63.0,0
764,2,122,70.0,27.0,0,36.8,0.340,27.0,0
765,5,121,72.0,23.0,112,26.2,0.245,30.0,0
766,1,126,60.0,0.0,0,30.1,0.349,47.0,1
767,1,93,70.0,31.0,0,30.4,0.315,23.0,0

In [7]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv',na_values='not available')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,NaN,NaN,33.6,0.627,NaN,1
1,1,85,66.0,NaN,NaN,26.6,0.351,NaN,0
2,8,183,64.0,NaN,NaN,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94.0,28.1,0.167,21.0,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122,70.0,27.0,0.0,36.8,0.340,27.0,0
765,5,121,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126,60.0,0.0,0.0,30.1,0.349,47.0,1
767,1,93,70.0,31.0,0.0,30.4,0.315,23.0,0

In [8]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,no values,not available,33.6,0.627,NaN,1
1,1,85,66.0,NaN,NaN,26.6,0.351,NaN,0
2,8,183,64.0,NaN,not available,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94,28.1,0.167,21.0,0
4,0,137,40.0,35,168,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0
764,2,122,70.0,27,0,36.8,0.340,27.0,0
765,5,121,72.0,23,112,26.2,0.245,30.0,0
766,1,126,60.0,0,0,30.1,0.349,47.0,1
767,1,93,70.0,31,0,30.4,0.315,23.0,0

In [9]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv', na_values={'Skin Thickness':'no values'})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,no values,not available,33.6,0.627,NaN,1
1,1,85,66.0,NaN,NaN,26.6,0.351,NaN,0
2,8,183,64.0,NaN,not available,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94,28.1,0.167,21.0,0
4,0,137,40.0,35,168,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0
764,2,122,70.0,27,0,36.8,0.340,27.0,0
765,5,121,72.0,23,112,26.2,0.245,30.0,0
766,1,126,60.0,0,0,30.1,0.349,47.0,1
767,1,93,70.0,31,0,30.4,0.315,23.0,0

In [13]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv', na_values={'SkinThickness':'no values', 'Insulin':'not available'})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,NaN,NaN,33.6,0.627,NaN,1
1,1,85,66.0,NaN,NaN,26.6,0.351,NaN,0
2,8,183,64.0,NaN,NaN,23.3,0.672,NaN,1
3,1,89,66.0,NaN,94.0,28.1,0.167,21.0,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122,70.0,27.0,0.0,36.8,0.340,27.0,0
765,5,121,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126,60.0,0.0,0.0,30.1,0.349,47.0,1
767,1,93,70.0,31.0,0.0,30.4,0.315,23.0,0

In [14]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv', na_filter='False')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,29,94,33.6,0.627,21,1
1,1,85,66,39,87,26.6,0.351,34,0
2,8,183,64,43,94,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,67,0
4,0,137,40,35,168,43.1,2.288,65,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0