# how to write csv files in pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\ml\\datasets\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df=pd.read_csv('D:\\ml\\datasets\health care diabetes.csv', nrows=3)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [12]:
df=pd.read_csv('D:\\ml\\datasets\health care diabetes.csv', usecols=[2,4,5])
df

     BloodPressure  Insulin   BMI
0               72        0  33.6
1               66        0  26.6
2               64        0  23.3
3               66       94  28.1
4               40      168  43.1
..             ...      ...   ...
763             76      180  32.9
764             70        0  36.8
765             72      112  26.2
766             60        0  30.1
767             70        0  30.4

[768 rows x 3 columns]

In [16]:
df=pd.read_csv('D:\\ml\\datasets\health care diabetes.csv', skiprows=[2,3])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,89,66,23,94,28.1,0.167,21,0
2,0,137,40,35,168,43.1,2.288,33,1
3,5,116,74,0,0,25.6,0.201,30,0
4,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
761,10,101,76,48,180,32.9,0.171,63,0
762,2,122,70,27,0,36.8,0.340,27,0
763,5,121,72,23,112,26.2,0.245,30,0
764,1,126,60,0,0,30.1,0.349,47,1
765,1,93,70,31,0,30.4,0.315,23,0

In [17]:
df=pd.read_csv('D:\\ml\\datasets\health care diabetes.csv', index_col='Age')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
50,6,148,72,35,0,33.6,0.627,1
31,1,85,66,29,0,26.6,0.351,0
32,8,183,64,0,0,23.3,0.672,1
21,1,89,66,23,94,28.1,0.167,0
33,0,137,40,35,168,43.1,2.288,1
...,...,...,...,...,...,...,...,...
63,10,101,76,48,180,32.9,0.171,0
27,2,122,70,27,0,36.8,0.340,0
30,5,121,72,23,112,26.2,0.245,0
47,1,126,60,0,0,30.1,0.349,1
23,1,93,70,31,0,30.4,0.315,0