# Pandas Groupby function

# -splitting the object
-applying the function
-ombinig the result

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('D:\\ml\\datasets\\corporate.csv')
df

   ID   Name    Companies       Profit Growth
0   1   lisa  IT Services    5634256.0    20%
1   2   neha      Finance  324543279.0    12%
2   3  risav       Health          NaN    58%
3   4    doj  IT Services          NaN    60%
4   5   Mark          NaN    5678337.0    NaN
5   6    NaN          NaN          NaN    49%

In [1]:
df

NameError: name 'df' is not defined

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('D:\\ml\\datasets\\corporate.csv')
df

   ID   Name    Companies       Profit Growth
0   1   lisa  IT Services    5634256.0    20%
1   2   neha      Finance  324543279.0    12%
2   3  risav       Health          NaN    58%
3   4    doj  IT Services          NaN    60%
4   5   Mark          NaN    5678337.0    NaN
5   6    NaN          NaN          NaN    49%

In [4]:
df

   ID   Name    Companies       Profit Growth
0   1   lisa  IT Services    5634256.0    20%
1   2   neha      Finance  324543279.0    12%
2   3  risav       Health          NaN    58%
3   4    doj  IT Services          NaN    60%
4   5   Mark          NaN    5678337.0    NaN
5   6    NaN          NaN          NaN    49%

In [8]:
gr1=df.groupby( by = 'Profit')#returned as object
gr1

In [9]:
gr1.groups

{5634256.0: [0], 5678337.0: [4], 324543279.0: [1]}

In [11]:
df.groupby(['Profit','Growth']).groups

{(5634256.0, '20%'): [0], (324543279.0, '12%'): [1], (nan, '58%'): [2], (nan, '60%'): [3], (5678337.0, nan): [4], (nan, '49%'): [5]}

In [20]:
for Profit, df_1 in gr1:
    print(Profit) #arran
    print(df_1)

5634256.0
   ID  Name    Companies     Profit Growth
0   1  lisa  IT Services  5634256.0    20%
5678337.0
   ID  Name Companies     Profit Growth
4   5  Mark       NaN  5678337.0    NaN
324543279.0
   ID  Name Companies       Profit Growth
1   2  neha   Finance  324543279.0    12%

In [21]:
list(gr1) #creates list from gr1

[(5634256.0,
     ID  Name    Companies     Profit Growth
  0   1  lisa  IT Services  5634256.0    20%),
 (5678337.0,
     ID  Name Companies     Profit Growth
  4   5  Mark       NaN  5678337.0    NaN),
 (324543279.0,
     ID  Name Companies       Profit Growth
  1   2  neha   Finance  324543279.0    12%)]

In [24]:
dict(list(gr1))

{5634256.0:    ID  Name    Companies     Profit Growth
 0   1  lisa  IT Services  5634256.0    20%,
 5678337.0:    ID  Name Companies     Profit Growth
 4   5  Mark       NaN  5678337.0    NaN,
 324543279.0:    ID  Name Companies       Profit Growth
 1   2  neha   Finance  324543279.0    12%}

In [29]:
gr3=df.groupby('Profit').get_group(5634256.0)
gr3

   ID  Name    Companies     Profit Growth
0   1  lisa  IT Services  5634256.0    20%

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\ml\\datasets\\corporate.csv')
df

   ID   Name    Companies       Profit Growth
0   1   lisa  IT Services    5634256.0    20%
1   2   neha      Finance  324543279.0    12%
2   3  risav       Health          NaN    58%
3   4    doj  IT Services          NaN    60%
4   5   Mark          NaN    5678337.0    NaN
5   6    NaN          NaN          NaN    49%

In [3]:
gr1=df.groupby( by = 'Profit')#returned as object
gr1

In [4]:
gr3=df.groupby('Profit').get_group(5634256.0)
gr3

   ID  Name    Companies     Profit Growth
0   1  lisa  IT Services  5634256.0    20%

In [5]:
gr1.mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\1587183179.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.mean()

              ID
Profit
5634256.0    1.0
5678337.0    5.0
324543279.0  2.0

In [6]:
gr1.sum()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\2871856081.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.sum()

             ID
Profit
5634256.0     1
5678337.0     5
324543279.0   2

In [7]:
list(gr1)

[(5634256.0,
     ID  Name    Companies     Profit Growth
  0   1  lisa  IT Services  5634256.0    20%),
 (5678337.0,
     ID  Name Companies     Profit Growth
  4   5  Mark       NaN  5678337.0    NaN),
 (324543279.0,
     ID  Name Companies       Profit Growth
  1   2  neha   Finance  324543279.0    12%)]

In [8]:
df=pd.read_csv('D:\\ml\\datasets\\corporate.csv')
df

   ID   Name    Companies      Profit Growth
0   1   lisa  IT Services   5634256.0    20%
1   2   neha      Finance  24424532.0    12%
2   3  risav       Health  34432453.0    58%
3   4    doj  IT Services  24542453.0    60%
4   5   Mark          NaN   5678337.0    NaN
5   6    NaN          NaN         NaN    49%

In [9]:
gr1=df.groupby( by = 'Profit')#returned as object
gr1

In [10]:
list(gr1)

[(5634256.0,
     ID  Name    Companies     Profit Growth
  0   1  lisa  IT Services  5634256.0    20%),
 (5678337.0,
     ID  Name Companies     Profit Growth
  4   5  Mark       NaN  5678337.0    NaN),
 (24424532.0,
     ID  Name Companies      Profit Growth
  1   2  neha   Finance  24424532.0    12%),
 (24542453.0,
     ID Name    Companies      Profit Growth
  3   4  doj  IT Services  24542453.0    60%),
 (34432453.0,
     ID   Name Companies      Profit Growth
  2   3  risav    Health  34432453.0    58%)]

In [11]:
gr1.sum()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\2871856081.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.sum()

            ID
Profit
5634256.0    1
5678337.0    5
24424532.0   2
24542453.0   4
34432453.0   3

In [12]:
gr1.mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\1587183179.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.mean()

             ID
Profit
5634256.0   1.0
5678337.0   5.0
24424532.0  2.0
24542453.0  4.0
34432453.0  3.0

In [13]:
gr1.describe()

              ID
           count mean std  min  25%  50%  75%  max
Profit
5634256.0    1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
5678337.0    1.0  5.0 NaN  5.0  5.0  5.0  5.0  5.0
24424532.0   1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0
24542453.0   1.0  4.0 NaN  4.0  4.0  4.0  4.0  4.0
34432453.0   1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0

In [17]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Date
0,6,148,NaN,29,94,33.6,0.627,21.0,1,01-11-2002
1,1,85,NaN,39,87,26.6,0.351,NaN,0,02-11-2002
2,8,183,NaN,43,94,23.3,0.672,NaN,1,03-11-2002
3,1,89,66.0,23,94,28.1,0.167,NaN,0,04-11-2002
4,0,137,40.0,35,168,43.1,2.288,65.0,1,05-11-2002
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0,03-12-2004
764,2,122,70.0,27,0,36.8,0.340,27.0,0,04-12-2004
765,5,121,72.0,23,112,26.2,0.245,30.0,0,05-12-2004
766,1,126,60.0,0,0,30.1,0.349,47.0,1,06-12-2004
767,1,93,70.0,31,0,30.4,0.315,23.0,0,07-12-2004

In [19]:
gr1=df.groupby( by = 'SkinThickness')#returned as object
gr1

In [20]:
gr1.sum()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\2871856081.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.sum()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
SkinThickness,,,,,,,,
0,1045,27840,14501.0,4630,6816.2,88.605,8399.0,87
7,18,221,152.0,584,47.2,1.508,104.0,1
8,2,199,128.0,182,49.9,2.085,57.0,0
10,7,467,272.0,399,131.0,2.575,111.0,0
11,13,590,436.0,1015,150.5,2.584,146.0,0
12,18,763,492.0,555,179.7,3.252,207.0,1
13,18,1203,672.0,1074,252.5,4.033,256.0,1
14,9,814,418.0,1059,160.7,2.572,143.0,2
15,41,1661,1009.0,1103,376.3,6.056,425.0,1
16,11,662,418.0,622,167.9,2.787,157.0,0
17,39,1610,972.0,1842,369.4,4.858,386.0,2
18,56,2166,1356.0,1386,549.2,11.098,629.0,4
19,56,2069,1242.0,1238,476.0,8.157,533.0,3
20,33,1217,825.0,1138,367.1,6.183,372.0,2
21,34,1255,672.0,1250,293.4,5.111,292.0,2
22,47,1812,1031.0,1065,455.5,8.891,444.0,4
23,67,2390,1487.0,2611,631.2,12.505,615.0,4
24,51,1386,886.0,1949,360.5,6.545,420.0,6
25,49,1810,1151.0,1373,505.7,6.094,479.0,5
26,66,2081,1150.0,2147,518.6,8.626,585.0,6
27,69,2874,1663.0,2642,767.8,8.882,727.0,7
28,81,2225,1400.0,1462,635.9,9.819,620.0,5
29,46,2236,1176.0,2655,560.9,9.384,564.0,8
30,96,3090,1871.0,2387,903.4,12.855,852.0,9
31,90,2377,1437.0,902,639.6,8.982,667.0,6
32,136,3463,2144.0,2961,1109.6,14.156,1021.0,14
33,132,2887,1469.0,3945,653.9,8.611,776.0,9
34,33,1000,594.0,1278,261.3,4.534,281.0,3
35,51,1740,1002.0,2073,482.5,8.370,425.0,7
36,49,1871,1024.0,1890,529.9,5.743,447.0,8
37,73,1909,1266.0,1789,623.3,9.465,555.0,8
38,22,924,454.0,518,230.1,1.943,215.0,2
39,57,2473,1348.0,2704,701.4,12.608,558.0,8
40,90,1749,1148.0,1600,618.6,6.953,565.0,5
41,64,1779,1188.0,1865,598.4,8.552,466.0,7
42,32,1463,762.0,2128,443.6,7.558,315.0,6
43,29,1081,440.0,974,258.4,4.273,217.0,3
44,25,720,394.0,1248,199.9,2.457,162.0,3
45,12,760,430.0,1382,209.6,2.762,182.0,3
46,19,1081,686.0,1197,347.5,3.022,247.0,5
47,9,438,288.0,554,156.1,2.583,142.0,2
48,24,542,322.0,1082,147.8,4.471,180.0,2
49,11,430,228.0,859,117.3,2.109,103.0,3
50,4,319,230.0,389,110.0,0.996,69.0,0
51,1,122,90.0,220,49.7,0.325,31.0,1
52,3,186,136.0,122,81.8,1.594,54.0,0
54,13,253,157.0,0,79.4,0.553,69.0,0
56,0,162,76.0,100,53.2,0.759,25.0,1
60,0,100,88.0,110,46.8,0.962,31.0,0
63,0,180,78.0,14,59.4,2.420,25.0,1
99,2,197,70.0,198,34.7,0.575,62.0,1

In [21]:
gr1.mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\1587183179.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gr1.mean()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
SkinThickness,,,,,,,,
0,4.623894,123.185841,64.163717,20.486726,30.160177,0.392058,37.163717,0.384956
7,9.000000,110.500000,76.000000,292.000000,23.600000,0.754000,52.000000,0.500000
8,1.000000,99.500000,64.000000,91.000000,24.950000,1.042500,28.500000,0.000000
10,1.400000,93.400000,54.400000,79.800000,26.200000,0.515000,22.200000,0.000000
11,2.166667,98.333333,72.666667,169.166667,25.083333,0.430667,24.333333,0.000000
12,2.571429,109.000000,70.285714,79.285714,25.671429,0.464571,29.571429,0.142857
13,1.636364,109.363636,61.090909,97.636364,22.954545,0.366636,23.272727,0.090909
14,1.500000,135.666667,69.666667,176.500000,26.783333,0.428667,23.833333,0.333333
15,2.928571,118.642857,72.071429,78.785714,26.878571,0.432571,30.357143,0.071429
16,1.833333,110.333333,69.666667,103.666667,27.983333,0.464500,26.166667,0.000000
17,2.785714,115.000000,69.428571,131.571429,26.385714,0.347000,27.571429,0.142857
18,2.800000,108.300000,67.800000,69.300000,27.460000,0.554900,31.450000,0.200000
19,3.111111,114.944444,69.000000,68.777778,26.444444,0.453167,29.611111,0.166667
20,2.538462,93.615385,63.461538,87.538462,28.238462,0.475615,28.615385,0.153846
21,3.400000,125.500000,67.200000,125.000000,29.340000,0.511100,29.200000,0.200000
22,2.937500,113.250000,64.437500,66.562500,28.468750,0.555688,27.750000,0.250000
23,3.045455,108.636364,67.590909,118.681818,28.690909,0.568409,29.285714,0.181818
24,4.250000,115.500000,73.833333,162.416667,30.041667,0.545417,35.000000,0.500000
25,3.062500,113.125000,71.937500,85.812500,31.606250,0.380875,29.937500,0.312500
26,4.125000,130.062500,71.875000,134.187500,32.412500,0.539125,36.562500,0.375000
27,3.000000,124.956522,72.304348,114.869565,33.382609,0.386174,31.608696,0.304348
28,4.050000,111.250000,70.000000,73.100000,31.795000,0.490950,31.000000,0.250000
29,2.705882,131.529412,73.500000,156.176471,32.994118,0.552000,33.176471,0.470588
30,3.555556,114.444444,69.296296,88.407407,33.459259,0.476111,31.555556,0.333333
31,4.736842,125.105263,75.631579,47.473684,33.663158,0.472737,35.105263,0.315789
32,4.387097,111.709677,69.161290,95.516129,35.793548,0.456645,32.935484,0.451613
33,6.600000,144.350000,73.450000,197.250000,32.695000,0.430550,38.800000,0.450000
34,4.125000,125.000000,74.250000,159.750000,32.662500,0.566750,35.125000,0.375000
35,3.642857,124.285714,71.571429,148.071429,34.464286,0.597857,30.357143,0.500000
36,3.500000,133.642857,73.142857,135.000000,37.850000,0.410214,31.928571,0.571429
37,4.562500,119.312500,79.125000,111.812500,38.956250,0.591562,34.687500,0.500000
38,3.142857,132.000000,64.857143,74.000000,32.871429,0.277571,30.714286,0.285714
39,3.000000,130.157895,74.888889,142.315789,36.915789,0.663579,31.000000,0.421053
40,5.625000,109.312500,71.750000,100.000000,38.662500,0.434563,35.312500,0.312500
41,4.266667,118.600000,79.200000,124.333333,39.893333,0.570133,31.066667,0.466667
42,2.909091,133.000000,69.272727,193.454545,40.327273,0.687091,28.636364,0.545455
43,4.142857,154.428571,73.333333,139.142857,36.914286,0.610429,36.166667,0.428571
44,5.000000,144.000000,78.800000,249.600000,39.980000,0.491400,32.400000,0.600000
45,2.000000,126.666667,71.666667,230.333333,34.933333,0.460333,30.333333,0.500000
46,2.375000,135.125000,85.750000,149.625000,43.437500,0.377750,30.875000,0.625000
47,2.250000,109.500000,72.000000,138.500000,39.025000,0.645750,35.500000,0.500000
48,6.000000,135.500000,80.500000,270.500000,36.950000,1.117750,45.000000,0.500000
49,3.666667,143.333333,76.000000,286.333333,39.100000,0.703000,34.333333,1.000000
50,1.333333,106.333333,76.666667,129.666667,36.666667,0.332000,23.000000,0.000000
51,1.000000,122.000000,90.000000,220.000000,49.700000,0.325000,31.000000,1.000000
52,1.500000,93.000000,68.000000,61.000000,40.900000,0.797000,27.000000,0.000000
54,6.500000,126.500000,78.500000,0.000000,39.700000,0.276500,34.500000,0.000000
56,0.000000,162.000000,76.000000,100.000000,53.200000,0.759000,25.000000,1.000000
60,0.000000,100.000000,88.000000,110.000000,46.800000,0.962000,31.000000,0.000000
63,0.000000,180.000000,78.000000,14.000000,59.400000,2.420000,25.000000,1.000000
99,2.000000,197.000000,70.000000,198.000000,34.700000,0.575000,62.000000,1.000000

In [22]:
gr1.describe()

              Pregnancies                                                   \
                    count      mean       std  min   25%  50%    75%   max
SkinThickness
0                   226.0  4.623894  3.349979  0.0  2.00  4.0   7.00  13.0
7                     2.0  9.000000  4.242641  6.0  7.50  9.0  10.50  12.0
8                     2.0  1.000000  0.000000  1.0  1.00  1.0   1.00   1.0
10                    5.0  1.400000  1.140175  0.0  1.00  1.0   2.00   3.0
11                    6.0  2.166667  1.329160  1.0  1.00  2.0   3.00   4.0
12                    7.0  2.571429  1.511858  1.0  1.00  3.0   4.00   4.0
13                   11.0  1.636364  1.026911  0.0  1.00  1.0   2.50   3.0
14                    6.0  1.500000  1.516575  0.0  0.25  1.5   2.00   4.0
15                   14.0  2.928571  2.495050  0.0  1.00  2.5   3.75   9.0
16                    6.0  1.833333  1.169045  0.0  1.25  2.0   2.75   3.0
17                   14.0  2.785714  3.262339  0.0  1.00  2.0   3.50  12.0
18                   20.0  2.800000  2.566997  0.0  1.00  2.0   4.00  10.0
19                   18.0  3.111111  3.233808  0.0  1.00  2.0   3.75  13.0
20                   13.0  2.538462  2.436370  0.0  1.00  2.0   4.00   8.0
21                   10.0  3.400000  2.836273  1.0  1.00  2.5   4.75   9.0
22                   16.0  2.937500  2.294014  0.0  2.00  2.0   4.00   9.0
23                   22.0  3.045455  3.031223  0.0  1.00  2.0   4.00  10.0
24                   12.0  4.250000  3.414541  1.0  1.00  2.5   7.25   9.0
25                   16.0  3.062500  3.889623  0.0  0.75  1.5   3.25  14.0
26                   16.0  4.125000  3.739430  0.0  0.75  3.5   7.00  11.0
27                   23.0  3.000000  2.558409  0.0  1.00  2.0   5.00  10.0
28                   20.0  4.050000  3.170173  0.0  2.00  3.0   5.25  11.0
29                   17.0  2.705882  2.616408  0.0  1.00  1.0   5.00   8.0
30                   27.0  3.555556  3.662002  0.0  1.00  3.0   5.00  14.0
31                   19.0  4.736842  3.477581  0.0  3.00  4.0   7.00  12.0
32                   31.0  4.387097  3.470614  0.0  2.00  4.0   6.50  15.0
33                   20.0  6.600000  3.604091  0.0  3.75  7.0   9.00  13.0
34                    8.0  4.125000  3.870677  0.0  1.00  2.5   8.25   9.0
35                   14.0  3.642857  3.477558  0.0  1.25  2.0   5.00  11.0
36                   14.0  3.500000  3.653239  0.0  1.00  1.5   7.50  10.0
37                   16.0  4.562500  4.486554  0.0  0.75  2.5   9.00  13.0
38                    7.0  3.142857  2.609506  0.0  1.50  3.0   4.00   8.0
39                   19.0  3.000000  2.603417  0.0  1.00  3.0   5.00   8.0
40                   16.0  5.625000  4.455334  0.0  1.00  6.0   8.75  12.0
41                   15.0  4.266667  4.233652  0.0  1.00  5.0   5.50  17.0
42                   11.0  2.909091  2.913916  0.0  1.00  2.0   4.50   8.0
43                    7.0  4.142857  4.450789  0.0  1.00  2.0   6.50  12.0
44                    5.0  5.000000  3.391165  0.0  4.00  5.0   7.00   9.0
45                    6.0  2.000000  2.097618  0.0  1.00  1.5   2.00   6.0
46                    8.0  2.375000  3.814914  0.0  0.00  0.5   2.75   9.0
47                    4.0  2.250000  2.061553  0.0  0.75  2.5   4.00   4.0
48                    4.0  6.000000  4.690416  1.0  2.50  6.5  10.00  10.0
49                    3.0  3.666667  3.055050  1.0  2.00  3.0   5.00   7.0
50                    3.0  1.333333  0.577350  1.0  1.00  1.0   1.50   2.0
51                    1.0  1.000000       NaN  1.0  1.00  1.0   1.00   1.0
52                    2.0  1.500000  0.707107  1.0  1.25  1.5   1.75   2.0
54                    2.0  6.500000  9.192388  0.0  3.25  6.5   9.75  13.0
56                    1.0  0.000000       NaN  0.0  0.00  0.0   0.00   0.0
60                    1.0  0.000000       NaN  0.0  0.00  0.0   0.00   0.0
63                    1.0  0.000000       NaN  0.0  0.00  0.0   0.00   0.0
99                    1.0  2.000000       NaN  2.0  2.00  2.0   2.00   2.0

              Glucose              ...    Age       Outcome            \
                count        mean  ...    75%   max   count      mean
SkinThickness                      ...
0               226.0  123.185841  ...  44.75  72.0   226.0  0.384956
7                 2.0  110.500000  ...  56.00  60.0     2.0  0.500000
8                 2.0   99.500000  ...  32.25  36.0     2.0  0.000000
10                5.0   93.400000  ...  22.00  25.0     5.0  0.000000
11                6.0   98.333333  ...  26.50  30.0     6.0  0.000000
12                7.0  109.000000  ...  30.50  37.0     7.0  0.142857
13               11.0  109.363636  ...  24.00  26.0    11.0  0.090909
14                6.0  135.666667  ...  23.50  33.0     6.0  0.333333
15               14.0  118.642857  ...  34.00  63.0    14.0  0.071429
16                6.0  110.333333  ...  26.50  38.0     6.0  0.000000
17               14.0  115.000000  ...  27.75  62.0    14.0  0.142857
18               20.0  108.300000  ...  41.50  70.0    20.0  0.200000
19               18.0  114.944444  ...  31.75  57.0    18.0  0.166667
20               13.0   93.615385  ...  32.00  42.0    13.0  0.153846
21               10.0  125.500000  ...  31.50  51.0    10.0  0.200000
22               16.0  113.250000  ...  32.25  48.0    16.0  0.250000
23               22.0  108.636364  ...  30.00  59.0    22.0  0.181818
24               12.0  115.500000  ...  44.75  54.0    12.0  0.500000
25               16.0  113.125000  ...  38.75  46.0    16.0  0.312500
26               16.0  130.062500  ...  49.25  60.0    16.0  0.375000
27               23.0  124.956522  ...  40.00  59.0    23.0  0.304348
28               20.0  111.250000  ...  39.50  51.0    20.0  0.250000
29               17.0  131.529412  ...  42.00  57.0    17.0  0.470588
30               27.0  114.444444  ...  38.00  45.0    27.0  0.333333
31               19.0  125.105263  ...  44.00  63.0    19.0  0.315789
32               31.0  111.709677  ...  38.00  58.0    31.0  0.451613
33               20.0  144.350000  ...  43.75  81.0    20.0  0.450000
34                8.0  125.000000  ...  42.50  58.0     8.0  0.375000
35               14.0  124.285714  ...  33.00  65.0    14.0  0.500000
36               14.0  133.642857  ...  36.00  60.0    14.0  0.571429
37               16.0  119.312500  ...  42.25  65.0    16.0  0.500000
38                7.0  132.000000  ...  34.50  39.0     7.0  0.285714
39               19.0  130.157895  ...  34.00  41.0    19.0  0.421053
40               16.0  109.312500  ...  42.25  48.0    16.0  0.312500
41               15.0  118.600000  ...  35.00  47.0    15.0  0.466667
42               11.0  133.000000  ...  32.00  42.0    11.0  0.545455
43                7.0  154.428571  ...  45.75  58.0     7.0  0.428571
44                5.0  144.000000  ...  36.00  40.0     5.0  0.600000
45                6.0  126.666667  ...  32.75  45.0     6.0  0.500000
46                8.0  135.125000  ...  40.75  46.0     8.0  0.625000
47                4.0  109.500000  ...  38.00  56.0     4.0  0.500000
48                4.0  135.500000  ...  54.00  63.0     4.0  0.500000
49                3.0  143.333333  ...  37.50  43.0     3.0  1.000000
50                3.0  106.333333  ...  24.00  24.0     3.0  0.000000
51                1.0  122.000000  ...  31.00  31.0     1.0  1.000000
52                2.0   93.000000  ...  28.00  29.0     2.0  0.000000
54                2.0  126.500000  ...  39.75  45.0     2.0  0.000000
56                1.0  162.000000  ...  25.00  25.0     1.0  1.000000
60                1.0  100.000000  ...  31.00  31.0     1.0  0.000000
63                1.0  180.000000  ...  25.00  25.0     1.0  1.000000
99                1.0  197.000000  ...  62.00  62.0     1.0  1.000000


                    std  min   25%  50%   75%  max
SkinThickness
0              0.487665  0.0  0.00  0.0  1.00  1.0
7              0.707107  0.0  0.25  0.5  0.75  1.0
8              0.000000  0.0  0.00  0.0  0.00  0.0
10             0.000000  0.0  0.00  0.0  0.00  0.0
11             0.000000  0.0  0.00  0.0  0.00  0.0
12             0.377964  0.0  0.00  0.0  0.00  1.0
13             0.301511  0.0  0.00  0.0  0.00  1.0
14             0.516398  0.0  0.00  0.0  0.75  1.0
15             0.267261  0.0  0.00  0.0  0.00  1.0
16             0.000000  0.0  0.00  0.0  0.00  0.0
17             0.363137  0.0  0.00  0.0  0.00  1.0
18             0.410391  0.0  0.00  0.0  0.00  1.0
19             0.383482  0.0  0.00  0.0  0.00  1.0
20             0.375534  0.0  0.00  0.0  0.00  1.0
21             0.421637  0.0  0.00  0.0  0.00  1.0
22             0.447214  0.0  0.00  0.0  0.25  1.0
23             0.394771  0.0  0.00  0.0  0.00  1.0
24             0.522233  0.0  0.00  0.5  1.00  1.0
25             0.478714  0.0  0.00  0.0  1.00  1.0
26             0.500000  0.0  0.00  0.0  1.00  1.0
27             0.470472  0.0  0.00  0.0  1.00  1.0
28             0.444262  0.0  0.00  0.0  0.25  1.0
29             0.514496  0.0  0.00  0.0  1.00  1.0
30             0.480384  0.0  0.00  0.0  1.00  1.0
31             0.477567  0.0  0.00  0.0  1.00  1.0
32             0.505879  0.0  0.00  0.0  1.00  1.0
33             0.510418  0.0  0.00  0.0  1.00  1.0
34             0.517549  0.0  0.00  0.0  1.00  1.0
35             0.518875  0.0  0.00  0.5  1.00  1.0
36             0.513553  0.0  0.00  1.0  1.00  1.0
37             0.516398  0.0  0.00  0.5  1.00  1.0
38             0.487950  0.0  0.00  0.0  0.50  1.0
39             0.507257  0.0  0.00  0.0  1.00  1.0
40             0.478714  0.0  0.00  0.0  1.00  1.0
41             0.516398  0.0  0.00  0.0  1.00  1.0
42             0.522233  0.0  0.00  1.0  1.00  1.0
43             0.534522  0.0  0.00  0.0  1.00  1.0
44             0.547723  0.0  0.00  1.0  1.00  1.0
45             0.547723  0.0  0.00  0.5  1.00  1.0
46             0.517549  0.0  0.00  1.0  1.00  1.0
47             0.577350  0.0  0.00  0.5  1.00  1.0
48             0.577350  0.0  0.00  0.5  1.00  1.0
49             0.000000  1.0  1.00  1.0  1.00  1.0
50             0.000000  0.0  0.00  0.0  0.00  0.0
51                  NaN  1.0  1.00  1.0  1.00  1.0
52             0.000000  0.0  0.00  0.0  0.00  0.0
54             0.000000  0.0  0.00  0.0  0.00  0.0
56                  NaN  1.0  1.00  1.0  1.00  1.0
60                  NaN  0.0  0.00  0.0  0.00  0.0
63                  NaN  1.0  1.00  1.0  1.00  1.0
99                  NaN  1.0  1.00  1.0  1.00  1.0

[51 rows x 64 columns]

In [23]:
gr1.aggregate(sum)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14156\447615390.py:1: FutureWarning: The operation <built-in function sum> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  gr1.aggregate(sum)

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
SkinThickness,,,,,,,,
0,1045,27840,14501.0,4630,6816.2,88.605,8399.0,87
7,18,221,152.0,584,47.2,1.508,104.0,1
8,2,199,128.0,182,49.9,2.085,57.0,0
10,7,467,272.0,399,131.0,2.575,111.0,0
11,13,590,436.0,1015,150.5,2.584,146.0,0
12,18,763,492.0,555,179.7,3.252,207.0,1
13,18,1203,672.0,1074,252.5,4.033,256.0,1
14,9,814,418.0,1059,160.7,2.572,143.0,2
15,41,1661,1009.0,1103,376.3,6.056,425.0,1
16,11,662,418.0,622,167.9,2.787,157.0,0
17,39,1610,972.0,1842,369.4,4.858,386.0,2
18,56,2166,1356.0,1386,549.2,11.098,629.0,4
19,56,2069,1242.0,1238,476.0,8.157,533.0,3
20,33,1217,825.0,1138,367.1,6.183,372.0,2
21,34,1255,672.0,1250,293.4,5.111,292.0,2
22,47,1812,1031.0,1065,455.5,8.891,444.0,4
23,67,2390,1487.0,2611,631.2,12.505,615.0,4
24,51,1386,886.0,1949,360.5,6.545,420.0,6
25,49,1810,1151.0,1373,505.7,6.094,479.0,5
26,66,2081,1150.0,2147,518.6,8.626,585.0,6
27,69,2874,1663.0,2642,767.8,8.882,727.0,7
28,81,2225,1400.0,1462,635.9,9.819,620.0,5
29,46,2236,1176.0,2655,560.9,9.384,564.0,8
30,96,3090,1871.0,2387,903.4,12.855,852.0,9
31,90,2377,1437.0,902,639.6,8.982,667.0,6
32,136,3463,2144.0,2961,1109.6,14.156,1021.0,14
33,132,2887,1469.0,3945,653.9,8.611,776.0,9
34,33,1000,594.0,1278,261.3,4.534,281.0,3
35,51,1740,1002.0,2073,482.5,8.370,425.0,7
36,49,1871,1024.0,1890,529.9,5.743,447.0,8
37,73,1909,1266.0,1789,623.3,9.465,555.0,8
38,22,924,454.0,518,230.1,1.943,215.0,2
39,57,2473,1348.0,2704,701.4,12.608,558.0,8
40,90,1749,1148.0,1600,618.6,6.953,565.0,5
41,64,1779,1188.0,1865,598.4,8.552,466.0,7
42,32,1463,762.0,2128,443.6,7.558,315.0,6
43,29,1081,440.0,974,258.4,4.273,217.0,3
44,25,720,394.0,1248,199.9,2.457,162.0,3
45,12,760,430.0,1382,209.6,2.762,182.0,3
46,19,1081,686.0,1197,347.5,3.022,247.0,5
47,9,438,288.0,554,156.1,2.583,142.0,2
48,24,542,322.0,1082,147.8,4.471,180.0,2
49,11,430,228.0,859,117.3,2.109,103.0,3
50,4,319,230.0,389,110.0,0.996,69.0,0
51,1,122,90.0,220,49.7,0.325,31.0,1
52,3,186,136.0,122,81.8,1.594,54.0,0
54,13,253,157.0,0,79.4,0.553,69.0,0
56,0,162,76.0,100,53.2,0.759,25.0,1
60,0,100,88.0,110,46.8,0.962,31.0,0
63,0,180,78.0,14,59.4,2.420,25.0,1
99,2,197,70.0,198,34.7,0.575,62.0,1

In [32]:
gr1.agg(['max', 'min'])

              Pregnancies     Glucose      BloodPressure       Insulin       \
                      max min     max  min           max   min     max  min
SkinThickness
0                      13   0     197   44         122.0   0.0     600    0
7                      12   6     129   92          90.0  62.0     326  258
8                       1   1     109   90          68.0  60.0     182    0
10                      3   0     113   73          62.0  50.0     278    0
11                      4   1     127   80          88.0  56.0     600   54
12                      4   1     129   90          90.0  60.0     231    0
13                      3   0     158   68          70.0  44.0     387    0
14                      4   0     188   90          82.0  54.0     415   55
15                      9   0     191   81          88.0  50.0     176    0
16                      3   0     193   81          86.0  50.0     375    0
17                     12   0     167   90          86.0  56.0     400    0
18                     10   0     163   71          92.0  38.0     156    0
19                     13   0     169   83          94.0  24.0     180    0
20                      8   0     134    0          86.0  44.0     291    0
21                      9   1     181   88          84.0  46.0     335    0
22                      9   0     187   81          74.0  50.0     200    0
23                     10   0     189   65         106.0   0.0     846    0
24                      9   1     171   75         110.0  58.0     600    0
25                     14   0     189   72         104.0  54.0     293    0
26                     11   0     180   83          90.0  52.0     495    0
27                     10   0     187   71          90.0  52.0     540    0
28                     11   0     194   56         102.0  54.0     205    0
29                      8   0     196   78          88.0  56.0     478    0
30                     14   0     181   77          90.0   0.0     330    0
31                     12   0     193   80         110.0  58.0     284    0
32                     15   0     198    0          85.0  48.0     274    0
33                     13   0     195   95          94.0  50.0     680    0
34                      9   0     176   87          90.0  56.0     300   37
35                     11   0     186    0         100.0  40.0     440    0
36                     10   0     196   80         100.0  50.0     495    0
37                     13   0     174   57         108.0  60.0     370    0
38                      8   0     162   99          90.0  30.0     360    0
39                      8   0     197   85         100.0  56.0     744    0
40                     12   0     151   74          84.0  50.0     271    0
41                     17   0     163    0          98.0  62.0     480    0
42                      8   0     181   79          88.0  30.0     485    0
43                     12   0     199  108          82.0  52.0     325    0
44                      9   0     181  109          88.0  64.0     545    0
45                      6   0     197   95          80.0  48.0     543   92
46                      9   0     167  102         110.0  60.0     231   78
47                      4   0     119   90          88.0  44.0     230   54
48                     10   1     173  101          84.0  76.0     465  180
49                      7   1     172  129          92.0  68.0     579  125
50                      2   1     136   71          78.0  74.0     204   45
51                      1   1     122  122          90.0  90.0     220  220
52                      2   1     100   86          70.0  66.0      65   57
54                     13   0     147  106          85.0  72.0       0    0
56                      0   0     162  162          76.0  76.0     100  100
60                      0   0     100  100          88.0  88.0     110  110
63                      0   0     180  180          78.0  78.0      14   14
99                      2   2     197  197          70.0  70.0     198  198

                BMI       DiabetesPedigreeFunction          Age       Outcome  \
                max   min                      max    min   max   min     max
SkinThickness
0              52.9   0.0                    1.781  0.078  72.0  16.0       1
7              27.6  19.6                    0.926  0.582  60.0  44.0       1
8              25.4  24.5                    1.138  0.947  36.0  21.0       0
10             29.5  23.0                    0.881  0.248  25.0  21.0       0
11             34.5  19.3                    0.598  0.267  30.0  22.0       0
12             29.7  19.5                    0.658  0.149  37.0  24.0       1
13             31.2  19.6                    0.678  0.138  26.0  21.0       1
14             32.0  23.7                    0.748  0.143  33.0  21.0       1
15             32.4  18.2                    1.213  0.107  63.0  21.0       1
16             32.7  20.4                    0.874  0.166  38.0  21.0       0
17             36.6  20.8                    0.695  0.085  62.0  21.0       1
18             34.9  20.4                    1.268  0.219  70.0  21.0       1
19             30.5  18.2                    1.476  0.143  57.0  21.0       1
20             35.1  24.0                    1.698  0.088  42.0  21.0       1
21             35.9  24.4                    1.095  0.123  51.0  22.0       1
22             36.4  20.0                    1.699  0.092  48.0  21.0       1
23             42.4   0.0                    1.731  0.159  59.0  21.0       1
24             45.4  24.3                    1.600  0.128  54.0  21.0       1
25             38.5  19.5                    0.738  0.133  46.0  22.0       1
26             42.6  24.1                    0.828  0.205  60.0  21.0       1
27             44.1  25.0                    1.154  0.101  59.0  21.0       1
28             37.8  23.9                    1.353  0.130  51.0  21.0       1
29             37.5  26.4                    1.072  0.159  57.0  21.0       1
30             42.9  26.2                    1.251  0.164  45.0  21.0       1
31             45.2  27.6                    1.292  0.089  63.0  22.0       1
32             46.5  25.0                    1.159  0.085  58.0  21.0       1
33             52.3  24.0                    0.966  0.161  81.0  22.0       1
34             44.2  24.7                    0.944  0.167  58.0  23.0       1
35             57.3  21.8                    2.288  0.134  65.0  21.0       1
36             49.6  27.8                    0.875  0.100  60.0  21.0       1
37             46.2  32.8                    1.224  0.096  65.0  22.0       1
38             43.3  25.9                    0.652  0.145  39.0  22.0       1
39             45.6  26.6                    2.329  0.150  41.0  22.0       1
40             46.8  33.3                    0.962  0.126  48.0  22.0       1
41             49.3  32.0                    1.321  0.156  47.0  21.0       1
42             55.0  32.7                    1.258  0.246  42.0  22.0       1
43             47.9  23.3                    1.394  0.259  58.0  22.0       1
44             50.0  33.1                    0.905  0.222  40.0  26.0       1
45             40.5  30.5                    0.733  0.158  45.0  24.0       1
46             67.1  35.5                    0.637  0.165  46.0  21.0       1
47             45.8  35.5                    1.390  0.280  56.0  25.0       1
48             38.9  32.9                    2.137  0.171  63.0  25.0       1
49             42.4  36.4                    0.968  0.439  43.0  28.0       1
50             39.4  33.2                    0.422  0.175  24.0  21.0       0
51             49.7  49.7                    0.325  0.325  31.0  31.0       1
52             41.3  40.5                    0.917  0.677  29.0  25.0       0
54             42.8  36.6                    0.375  0.178  45.0  24.0       0
56             53.2  53.2                    0.759  0.759  25.0  25.0       1
60             46.8  46.8                    0.962  0.962  31.0  31.0       0
63             59.4  59.4                    2.420  2.420  25.0  25.0       1
99             34.7  34.7                    0.575  0.575  62.0  62.0       1

                         Date
              min         max         min
SkinThickness
0               0  31-12-2002  01-01-2003
7               0  13-07-2003  03-04-2004
8               0  18-11-2003  09-01-2004
10              0  26-12-2002  02-09-2004
11              0  29-09-2004  03-12-2002
12              0  29-11-2003  01-08-2004
13              0  25-01-2004  02-07-2004
14              0  28-11-2003  04-09-2003
15              0  31-01-2003  04-07-2003
16              0  28-09-2003  04-11-2003
17              0  30-03-2003  02-08-2004
18              0  30-07-2004  01-05-2003
19              0  29-11-2002  05-09-2003
20              0  30-05-2004  02-05-2003
21              0  27-06-2003  01-05-2004
22              0  30-05-2003  02-07-2003
23              0  31-10-2004  03-09-2003
24              0  29-06-2003  01-12-2003
25              0  31-10-2003  04-01-2004
26              0  30-11-2004  01-09-2004
27              0  30-04-2004  01-10-2004
28              0  29-01-2004  01-02-2004
29              0  28-04-2004  01-11-2002
30              0  31-08-2004  02-01-2004
31              0  27-02-2004  01-06-2003
32              0  31-07-2004  02-03-2004
33              0  30-08-2004  03-02-2004
34              0  31-03-2004  02-12-2003
35              0  29-04-2004  03-07-2003
36              0  26-10-2003  02-12-2002
37              0  29-10-2003  02-09-2003
38              0  24-08-2003  07-03-2004
39              0  31-12-2003  01-07-2004
40              0  26-10-2004  01-02-2003
41              0  30-12-2002  01-03-2004
42              0  29-06-2004  03-04-2003
43              0  23-08-2004  02-05-2004
44              0  23-11-2004  05-04-2003
45              0  27-08-2004  09-11-2002
46              0  28-12-2003  03-01-2004
47              0  29-05-2004  10-12-2002
48              0  19-08-2004  02-02-2004
49              1  24-09-2004  15-12-2003
50              0  31-03-2003  01-08-2003
51              1  08-02-2003  08-02-2003
52              0  16-04-2004  03-08-2003
54              0  31-05-2003  26-01-2003
56              1  01-03-2003  01-03-2003
60              0  28-12-2002  28-12-2002
63              1  20-01-2004  20-01-2004
99              1  02-06-2004  02-06-2004

In [34]:
gr1.aggregate(max)

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Date
SkinThickness,,,,,,,,,
0,13,197,122.0,600,52.9,1.781,72.0,1,31-12-2002
7,12,129,90.0,326,27.6,0.926,60.0,1,13-07-2003
8,1,109,68.0,182,25.4,1.138,36.0,0,18-11-2003
10,3,113,62.0,278,29.5,0.881,25.0,0,26-12-2002
11,4,127,88.0,600,34.5,0.598,30.0,0,29-09-2004
12,4,129,90.0,231,29.7,0.658,37.0,1,29-11-2003
13,3,158,70.0,387,31.2,0.678,26.0,1,25-01-2004
14,4,188,82.0,415,32.0,0.748,33.0,1,28-11-2003
15,9,191,88.0,176,32.4,1.213,63.0,1,31-01-2003
16,3,193,86.0,375,32.7,0.874,38.0,0,28-09-2003
17,12,167,86.0,400,36.6,0.695,62.0,1,30-03-2003
18,10,163,92.0,156,34.9,1.268,70.0,1,30-07-2004
19,13,169,94.0,180,30.5,1.476,57.0,1,29-11-2002
20,8,134,86.0,291,35.1,1.698,42.0,1,30-05-2004
21,9,181,84.0,335,35.9,1.095,51.0,1,27-06-2003
22,9,187,74.0,200,36.4,1.699,48.0,1,30-05-2003
23,10,189,106.0,846,42.4,1.731,59.0,1,31-10-2004
24,9,171,110.0,600,45.4,1.600,54.0,1,29-06-2003
25,14,189,104.0,293,38.5,0.738,46.0,1,31-10-2003
26,11,180,90.0,495,42.6,0.828,60.0,1,30-11-2004
27,10,187,90.0,540,44.1,1.154,59.0,1,30-04-2004
28,11,194,102.0,205,37.8,1.353,51.0,1,29-01-2004
29,8,196,88.0,478,37.5,1.072,57.0,1,28-04-2004
30,14,181,90.0,330,42.9,1.251,45.0,1,31-08-2004
31,12,193,110.0,284,45.2,1.292,63.0,1,27-02-2004
32,15,198,85.0,274,46.5,1.159,58.0,1,31-07-2004
33,13,195,94.0,680,52.3,0.966,81.0,1,30-08-2004
34,9,176,90.0,300,44.2,0.944,58.0,1,31-03-2004
35,11,186,100.0,440,57.3,2.288,65.0,1,29-04-2004
36,10,196,100.0,495,49.6,0.875,60.0,1,26-10-2003
37,13,174,108.0,370,46.2,1.224,65.0,1,29-10-2003
38,8,162,90.0,360,43.3,0.652,39.0,1,24-08-2003
39,8,197,100.0,744,45.6,2.329,41.0,1,31-12-2003
40,12,151,84.0,271,46.8,0.962,48.0,1,26-10-2004
41,17,163,98.0,480,49.3,1.321,47.0,1,30-12-2002
42,8,181,88.0,485,55.0,1.258,42.0,1,29-06-2004
43,12,199,82.0,325,47.9,1.394,58.0,1,23-08-2004
44,9,181,88.0,545,50.0,0.905,40.0,1,23-11-2004
45,6,197,80.0,543,40.5,0.733,45.0,1,27-08-2004
46,9,167,110.0,231,67.1,0.637,46.0,1,28-12-2003
47,4,119,88.0,230,45.8,1.390,56.0,1,29-05-2004
48,10,173,84.0,465,38.9,2.137,63.0,1,19-08-2004
49,7,172,92.0,579,42.4,0.968,43.0,1,24-09-2004
50,2,136,78.0,204,39.4,0.422,24.0,0,31-03-2003
51,1,122,90.0,220,49.7,0.325,31.0,1,08-02-2003
52,2,100,70.0,65,41.3,0.917,29.0,0,16-04-2004
54,13,147,85.0,0,42.8,0.375,45.0,0,31-05-2003
56,0,162,76.0,100,53.2,0.759,25.0,1,01-03-2003
60,0,100,88.0,110,46.8,0.962,31.0,0,28-12-2002
63,0,180,78.0,14,59.4,2.420,25.0,1,20-01-2004
99,2,197,70.0,198,34.7,0.575,62.0,1,02-06-2004