# How to create Pandas Data frames

In [6]:
import pandas as pd

In [2]:
empty_df=pd.DataFrame()

In [3]:
empty_df=pd.DataFrame()
prin(empty_df)

NameError: name 'prin' is not defined

In [4]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [6]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

In [10]:
df2=pd.DataFrame([[1,2,3],[3,4,5],[4,5,6]])
df2

   0  1  2
0  1  2  3
1  3  4  5
2  4  5  6

In [12]:
dict1={'ID': [11,12,13,14]}
print(dict1)

{'ID': [11, 12, 13, 14]}

In [13]:
df3=pd.DataFrame(dict1)
df3

   ID
0  11
1  12
2  13
3  14

In [3]:
dict2={'ID':[12,23,15,54], 'SN':[1,2,3,4]}
print(dict2)

{'ID': [12, 23, 15, 54], 'SN': [1, 2, 3, 4]}

In [5]:
df4=pd.DataFrame(dict2)
df4

NameError: name 'pd' is not defined

In [7]:
df4=pd.DataFrame(dict2)
df4

   ID  SN
0  12   1
1  23   2
2  15   3
3  54   4

In [11]:
ls_dict=[{'a':1, 'b':2},{'a':3, 'b':4}]
df5=pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [13]:
dict_sr={'ID':pd.Series([1,2,3]), 'SN': pd.Series([111,222,333])}
df6=pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  111
1   2  222
2   3  333