# Append() function

In [1]:
import pandas as pd

In [2]:
import pandas as pd

In [14]:
df1=pd.DataFrame({'A': [1,2,3],
                 'B': [20,30,40]})
df2=pd.DataFrame({'C': [4,5,6],
                 'B': [70,80,90]})
display(df1,df2)

   A   B
0  1  20
1  2  30
2  3  40

   C   B
0  4  70
1  5  80
2  6  90

In [16]:
df1.append(df2)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_8460\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A   B    C
0  1.0  20  NaN
1  2.0  30  NaN
2  3.0  40  NaN
0  NaN  70  4.0
1  NaN  80  5.0
2  NaN  90  6.0

In [24]:
df1.append(df2, ignore_index=True, sort=False)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_8460\2226406127.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index=True, sort=False)

     A   B    C
0  1.0  20  NaN
1  2.0  30  NaN
2  3.0  40  NaN
3  NaN  70  4.0
4  NaN  80  5.0
5  NaN  90  6.0